{% extends 'cards/base.html' %}
{% block title %}Card Gallery{% endblock %}
{% block content %}
<h1>Card Gallery</h1>
<div class="row row-cols-1 row-cols-md-4 g-4" id="card-grid">
  {% for card in cards %}
  <div class="col">
    <div class="card h-100" x-data="{ flipped: false }" @click="flipped = !flipped" style="cursor:pointer;">
      <template x-if="!flipped">
        <img src="{{ card.image.url }}" class="card-img-top" alt="{{ card.name }}" />
      </template>
      <template x-if="flipped">
        <div class="card-body">
          <h5 class="card-title">{{ card.name }}</h5>
          <p class="card-text">{{ card.description }}</p>
          <span class="badge bg-info text-dark">{{ card.rarity|title }}</span>
        </div>
      </template>
    </div>
  </div>
  {% endfor %}
</div>

<div class="mt-4">
  <button class="btn btn-success" 
          hx-post="{% url 'open_pack' %}"
          hx-target="#new-cards"
          hx-swap="innerHTML">
    Open a Pack
  </button>
</div>

<div id="new-cards" class="row mt-4"></div>
{% endblock %}
