{% for card in new_cards %}
<div class="col-md-2 mb-3" x-data="{ flipped: false }" @click="flipped = !flipped" style="cursor:pointer;">
  <div class="card h-100">
    <template x-if="!flipped">
      <img src="{{ card.image.url }}" class="card-img-top" alt="{{ card.name }}" />
    </template>
    <template x-if="flipped">
      <div class="card-body">
        <h5 class="card-title">{{ card.name }}</h5>
        <p class="card-text">{{ card.description }}</p>
        <span class="badge bg-info text-dark">{{ card.rarity|title }}</span>
      </div>
    </template>
  </div>
</div>
{% endfor %}
